{% extends 'base.html.twig' %}

{% block title %}URL to PDF Converter - PDFpal{% endblock %}

{% block body %}
    {{ include('parts/header.html.twig') }}
    <h1>Convert any URL to PDF!</h1>
    {% if user.subscription == null %}
        <p>You need to <a href="{{ path('app_choose_subscription', {userId: userId}) }}">choose a subscription first</a></p>
    {% else %}
        {{ form_start(urlForm) }}
            {{ form_row(urlForm.url) }}
            <button type="submit" formtarget="_blank">Submit</button>
        {{ form_end(urlForm) }}
    {% endif %}
{% endblock %}