{# templates/subscription/choose_subscription.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    {{ include('parts/header.html.twig') }}
    <div class="flex flex-col px-48 py-10 gap-10">
        <h1 class="text-6xl font-bold">Choose your subscription</h1>
        <div class="flex gap-10">
            {% for subscription in subscriptions %}
                <div class="border-[1px] rounded-2xl h-fit w-[20%] p-1 bg-gradient-to-t from-blue-600 via-violet-700 to-fuchsia-800">
                    <div class="bg-blue-50 rounded-t-xl p-10 border-b-[1px] flex flex-col gap-2">
                        <div class="rounded-full p-5 w-fit bg-gradient-to-t from-blue-600 via-violet-700 to-fuchsia-800"></div>
                        <h2 class="text-3xl font-bold">{{ subscription.title }}</h2>
                        {% if subscription.price == 0 %}
                            <p>Free</p>
                        {% else %}
                            <div class="flex items-end">
                                <h3 class="text-2xl font-bold">{{ subscription.price }}€ </h3><p class="font-weight-light text-slate"> /months</p>
                            </div>
                        {% endif %}
                        <div class="divider"></div>
                        <h3>{{ subscription.description }}</h3>
                    </div>
                    <div>
                        <div class="p-10 bg-white">
                            {% if subscription.id == 1 %}
                                <ul>
                                    <li><strong>Basic Conversion:</strong> Convert PDF files to common formats such as Word, Excel, and PowerPoint.</li>
                                    <li><strong>File Size Limit:</strong> Convert PDF files up to 5 MB.</li>
                                    <li><strong>Conversion Limit:</strong> Up to 5 free conversions per month.</li>
                                    <li><strong>Watermark:</strong> Converted files contain a watermark from the application.</li>
                                    <li><strong>Ad-Supported:</strong> Ads are displayed while using the application.</li>
                                    <li><strong>Supported Formats:</strong> PDF to Word, Excel, and PowerPoint only.</li>
                                    <li><strong>Basic Tools:</strong> Basic tools for merging and splitting PDFs.</li>
                                    <li><strong>Basic Security:</strong> Basic encryption of files during transfer.</li>
                                    <li><strong>Community Support:</strong> Access to a community support forum.</li>
                                </ul>
                            {% else %}
                                <ul>
                                    <li><strong>Advanced Conversion:</strong> Convert to and from a wide range of formats, including PDF to image, ePub, HTML, etc.</li>
                                    <li><strong>Higher File Size Limit:</strong> Convert PDF files up to 100 MB.</li>
                                    <li><strong>Unlimited Conversions:</strong> Unlimited conversions per month.</li>
                                    <li><strong>No Watermark:</strong> Converted files do not contain a watermark.</li>
                                    <li><strong>Ad-Free:</strong> Use the application without any ads.</li>
                                    <li><strong>Advanced Tools:</strong> Advanced tools for PDF editing, text recognition (OCR), and PDF compression.</li>
                                    <li><strong>Advanced Security:</strong> End-to-end encryption of files and password protection for PDFs.</li>
                                    <li><strong>Priority Support:</strong> Access to priority customer support via email and live chat.</li>
                                    <li><strong>Cloud Storage:</strong> Integrated cloud storage to save and access converted PDF files.</li>
                                    <li><strong>Conversion History:</strong> Access to complete conversion history for easy document management.</li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="border-t-[1px] p-5 bg-white rounded-b-xl">
                            <form method="post" action="{{ path('app_choose_subscription', {'userId': app.user.id}) }}">
                                <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
                                <button type="submit" class="btn btn-neutral btn-block">Choose</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
